    <div class="navbar-wrapper">
      <div class="container">

        <nav class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a href="."><img src="img/logo.png" width="200" height="64" alt="logo"></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav nav-list">
                <li><a href="http://platform.onetrackergps.co">Localizar <br>En linea</a></li>
                <li><a href="rastreo-de-maquinaria">Rastreo de <br>Maquinaria</a></li>
                <li><a href="rastreo-de-personas">Rastreo de <br>Personas</a></li>
                <li><a href="">RASTREO <br>DE VEHICULOS</a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="rastreo-de-automoviles">AUTOMOVILES</a></li>
                    <li><a href="rastreo-de-motos">MOTOS action</a></li>
                    <li><a href="rastreo-de-bicicletas">BICICLETAS</a></li>
                  </ul>
                </li>
                <li><a href="administracion-y-control">Administracion <br>y Control</a></li>
                <li><a href="contacto">Contacto</a></li>
                <li><a href="/"><img style="-webkit-user-select: none;width: 32px;" src="http://www.clipartbest.com/cliparts/Rcd/Kn4/RcdKn4dMi.png"></a></li>
              </ul>
            </div>
          </div>
        </nav>

      </div>
    </div>
